/**
* Components
 */

/* -----------------
* Scaffolding
----------------- */
html {
    font-size: $font-size;
    line-height: $line-height;
}
body {
    font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
    font-size: $font-size;
    color: $font-color;
    background: $background;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $heading-font-weight;
}

h1 {
    font-size: $h1-sm;
    @include screen(md) {
        font-size: $h1;
    }
}
h2 {
    font-size: $h2-sm;
    @include screen(md) {
        font-size: $h2;
    }
}
h3 {
    font-size: $h3-sm;
    @include screen(md) {
        font-size: $h3;
    }
}
h4 {
    font-size: $h4-sm;
    @include screen(md) {
        font-size: $h4;
    }
}
h5 {
    font-size: $h5-sm;
    @include screen(md) {
        font-size: $h5;
    }
}
h6 {
    font-size: $h6-sm;
    @include screen(md) {
        font-size: $h6;
    }
}

// highlight
mark {
    background: $highlight;
    padding: 0 0.2rem;
}

hr {
    margin-top: $margin;
    margin-bottom: $margin;
    border: 0;
    border-top: $borders;
}

/* -----------------
* Helpers
----------------- */
.clearfix::before,
 .clearfix::after {
     content: ' ';
     display: block;
 }

 .clearfix:after {
     clear: both;
 }

 .u-show {
     display: block;
 }

 .u-hide {
     display: none;
 }


/* -----------------
* Containers
----------------- */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $padding;
    @include screen(md) {
        @include container(md);
    }
    @include screen(lg) {
        @include container(lg);
    }
    @include screen(xl) {
        @include container(xl);
    }
}

/* -----------------
* Grids
----------------- */



/* -----------------
* Layout
----------------- */


/* -----------------
* Heading
----------------- */


/* -----------------
* Buttons
----------------- */
.is-active-button {
    padding: 1rem 1rem;
    margin: $margin 0;
    background-color: $primary-color;
    color: $background;
}

.is-disabled-button {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    background-color: $button-disabled;
}
.is-abled-button {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: $button-background;
}
.is-fixed-button {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $button-disabled;
    text-align: center;
    padding: 1rem 0;
}


/* -----------------
* Forms
----------------- */



/* -----------------
* Navigation
----------------- */


/* -----------------
* Footer
----------------- */
footer {
    background: $background-footer;
    padding: 2rem 0;
    height: 8rem;
    margin-top: auto;
}

/* -----------------
* Tables
----------------- */ 
.is-false {
    background: gray;
}
.is-true {
    background: yellow;
}









